<script>
  function clock() {
    var $s = $(".second"),
      $m = $(".minute"),
      $h = $(".hour");
    d = new Date(),
      s = d.getSeconds(),
      m = d.getMinutes(),
      h = d.getHours();
    $s.val(s).trigger("change");
    $m.val(m).trigger("change");
    $h.val(h).trigger("change");
    setTimeout("clock()", 1000);
  }
  clock();
</script>

<div id="wrapper" class="player_count_{{ state.players.length }}">

  <!-- add winner class to make winner -->
  <div fade-in-player ng-repeat="player in state.players" class="player loc_{{ player.playerID }}" ng-class="{trans_out: player.playerID == newPlayerId, player_action: player.playerID == state.game.turn, folded: player.folded}">
    <div class="dealer" ng-show="player.playerID == state.game.dealer">d</div>

    <div class="avatar">
      <span class="foldMessage"><span>Fold</span></span>
      <span class="winnerMessage"><span>Winner <br>Takes All!</span></span>
      <video ng-src="{{ videoSources[player.playerID] }}" id="player_{{ player.playerID }}_video" autoplay="true"></video>
    </div>

    <div class="dialContainer">
      <input knob type="text" value="0" class="dial" data-width="178">
      <button class="betButton" ng-click="bet(state.game.bets[player.playerID])" ng-show="state.game && state.game.turn == playerID && player.playerID == playerID">Bet {{ state.game.bets[player.playerID] }}</button>
      <button class="fold" ng-click="fold()" ng-show="state.game && state.game.turn == playerID && player.playerID == playerID">Fold</button>
    </div>

    <div class="score color_0">
      <h1>{{ player.chips }}</h1>
      <h2 class="info">stack total</h2>
    </div>

    <div class="stats">

      <ul class="cards">
        <li ng-show="cards[player.playerID]" ng-repeat="card in cards[player.playerID]">{{ card[0] }} <span class="icon {{card | suits}}">{{ card | suits }}</span></li>
        <li class="amountBetting color_0">{{ state.game.bets[player.playerID] }}</li>
      </ul>

    </div>

  </div>

  <button id="startGame" ng-click="startGame()" ng-if="!state.game && state.players.length > 1">Start Game</button>

  <ul id="largeCards" ng-show="state.game">
    <li ng-repeat="card in state.game.board">{{ card[0] }} <span class="icon {{card | suits}}">{{ card | suits }}</span></li>
  </ul>

  <div id="pot" ng-show="state.game">
    <h1>{{ state.game.pot }}</h1>
  </div>

</div><!-- wrapper -->